<p>Hi <%= @doctor.name %>,</p>

<p><%= @patient.name %> has just been diagnosed and is requesting your help!</p>

<%= simple_format(@diagnosis.last.diagnosis) %>

<p>To view their full profile and diagnosis report, <%= link_to 'click here', @patient %>.</p>

<p>Alternatively, <%= link_to 'download the diagnosis report', user_url(@patient.id, download: true, format: 'pdf') %> as a PDF.</p>

<p>Thanks,</p>
<p><i>The Docnect Team</i></p>