<% if @user.test_complete && @user.group?(1)  %>
    <h3 class="show-section">Docnect Diagnostic Test:</h3>
    <div class="row">
      <h4 class="patient-title">
        <%= current_user.group?(1) ? 'Last Diagnostic Test Completed:' : 'Inferred Diagnosis:' %>
      </h4>
      <div class="patient-info">
        <%= current_user.group?(1) ? raw(time_ago_in_words(@user.last_test) + ' ago - ' + link_to('click here', test_path(answer_id: 1), method: :post) + ' to begin a new test') : simple_format(@diagnosis.last.diagnosis == "The patient's symptoms did not match any listed by Docnect:" ? @diagnosis.last.diagnosis + "\n\n" + @diagnosis.last.answer : @diagnosis.last.diagnosis) %>
      </div>
    </div>
    <% unless current_user.group?(2) %>
        <div class="row">
          <h4 class="patient-title">Doctors Assigned:</h4>
          <div class="patient-info doctor-name">
            <% @doctors.each do |doctor| %>
                <p><%= link_to doctor.name, doctor %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= doctor.specialization %></p>
            <% end %>
          </div>
        </div>
    <% end %>

    <h3 class="show-section"><%= current_user.group?(1) ? 'Your' : 'Patient' %> Answers:</h3>
    <% @diagnosis.each do |diagnosis| %>
        <% unless diagnosis.answer.blank? %>
              <div class="patient-info">
                <%= simple_format(diagnosis.answer) %>
              </div>
            </div>
        <% end %>
        <% unless diagnosis.question.blank? %>
            <div class="row">
              <h4 class="patient-title"><%= diagnosis.question %></h4>
        <% end %>
    <% end %>
    <% unless current_user.group?(1) %>
        <h3 class="show-section"><%= @user.name %> was last diagnosed <%= time_ago_in_words(@user.last_test) %> ago.<br>(<%= @user.last_test.strftime('%d/%m/%Y at %H:%M') %>)</h3>
        <h3 class="show-section"><%= link_to 'View', user_path(@user.id, format: 'pdf'), format: 'pdf' %>/<%= link_to 'Download', user_path(@user.id, download: true, format: 'pdf') %> diagnosis report as PDF</h3>
    <% end %>
<% elsif @user.last_test %>
    <h3 class="show-section">Docnect Diagnostic Test:</h3>
    <div class="row">
      <h4 class="patient-title">Last Diagnostic Test Completed:</h4>
      <div class="patient-info"><%= time_ago_in_words(@user.last_test) %> ago</div>
    </div>
    <% unless current_user.test_complete %>
        <div class="row">
          <h4 class="patient-title">Current Test:</h4>
          <div class="patient-info">Incomplete
            <%= raw('- ' + link_to('click here', test_path) + ' to continue diagnosis') if current_user.group?(1) %>
          </div>
        </div>
    <% end %>
<% end %>