<% unless @diagnosis.blank? %>
    <h3><%= simple_format(@diagnosis.last.diagnosis) %></h3>
    <% @diagnosis.each do |diagnosis| %>
        <% unless diagnosis.answer.blank? %>
            <%= simple_format(diagnosis.answer) %>
        <% end %>
        <% unless diagnosis.question.blank? %>
            <h3><%= diagnosis.question %></h3>
        <% end %>
    <% end %>
    <h3><%= @user.name %> was diagnosed <%= time_ago_in_words(@user.last_test) %> ago.</h3>
<% end %>