<% provide(:title, @title) %>
<h1><%= @title %></h1>

<% if @users.length > 0 %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <ul class="item-list">
          <% @users.each do |user| %>
              <li>
                <%= user.valid? && user.activated ? link_to(user.name, user) : user.name %>
                <% if current_user.group?(0) && !current_user?(user) %>
                    (<%= user.email %>)
                    &nbsp;| &nbsp;<%= user.group?(1) ? 'Patient' : 'Doctor' %>
                    <% if !user.valid? %>
                        &nbsp;- &nbsp;account incomplete)
                    <% elsif !user.activated %>
                        &nbsp;- &nbsp;(not activated, created <%= time_ago_in_words(user.created_at) %> ago)
                    <% end %>
                    <% if user.last_online && user.activated %>
                        &nbsp;| &nbsp;Last online <%= time_ago_in_words(user.last_online) %> ago
                    <% end %>
                    &nbsp;| &nbsp;<%= link_to 'Delete User', user, method: :delete,
                                  data: { confirm: "This action cannot be undone. Are you sure you wish to delete #{user.name}'s account from Docnect?" } %>
                <% elsif current_user.group?(0) && current_user?(user) %>
                    (<%= user.email %>)
                    &nbsp;| &nbsp;Super User
                <% elsif current_user.group?(1) %>
                    &nbsp;| &nbsp;<%= user.specialization %>
                    &nbsp;| &nbsp;<%= user.address %>
                <% elsif current_user.group?(2) && user.last_test %>
                    &nbsp;| &nbsp;Last diagnosed <%= time_ago_in_words(user.last_test) %> ago
                <% end %>
              </li>
          <% end %>
        </ul>

        <div class="pagination">
          <%= will_paginate @users, :container => false %>
          <div class="center"><%= page_entries_info %></div>
        </div>
      </div>
    </div>
<% else %>
    <h2>No <%= if current_user.group?(1)
                 'doctors'
               else
                 current_user.group?(2) ? 'patients' : 'users'
               end %> could be found at this time.</h2>
<% end %>
<h3><%= @search %></h3>