<% if current_user %>
    <% provide(:title, 'Add User') %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="show-section">Add New User</h1>
        <h3>Create a new account for a Doctor - they'll be sent an email with information to activate their account.</h3>
      </div>
    </div>
<% else %>
    <% provide(:title, 'Sign Up') %>
    <h1>Sign Up</h1>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
        <% @error = @user %>
        <%= render 'layouts/errors' %>

        <%= f.text_field :name, class: 'form-control', placeholder: 'Full Name' %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
        <% unless logged_in? %>
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password' %>
        <% end %>

        <%= f.submit 'Create Account', class: 'btn btn-primary' %>
    <% end %>

    <% unless current_user %>
        <h3>Already have an account? <%= link_to 'Click here', login_path %> to log in!</h3>
    <% end %>
  </div>
</div>