<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>

<% if @user.group?(1) %>
    <%= render 'show-patient' %>
<% elsif @user.group?(2) %>
    <%= render 'show-doctor' %>
<% end %>

<%= render 'show-diagnosis' %>

<% if current_user?(@user) %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="show-section">Please ensure this information is kept up-to-date when using Docnect. <%= link_to 'Click here', edit_user_path(@user) %> to update your profile now.</h3>
      </div>
    </div>
<% end %>